@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;500;600;700;800;900&display=swap');
@font-face{
    font-family: 'flexslider-icon';
  src: url('fonts/flexslider-icon.eot');
  src: url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('fonts/flexslider-icon.woff') 
  format('woff'), url('fonts/flexslider-icon.ttf') format('truetype'), url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
}
body {
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: "Outfit";
    background-color: white;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.container {
    max-width: 1100px;
    margin: auto auto;
    overflow: hidden;
}

body::-webkit-scrollbar {
    background:transparent;
    width: 5px; 
}

body::-webkit-scrollbar-thumb {
    background-color: var(--btn);
    border-radius: 10px;
}

body::-webkit-scrollbar-corner{
    border-radius: 10px;
}

:root {
    --color__tema: #060C21;
    --color__bk: #f9f9f9;
    --color__naranja: #E3371E;
    --color_input: #758bae;
    --btn:#FF5247;
    --text:#060C21;
    --verde:#05BF7C;
    --naranja:#FF8C33;
}

.wave{
    position: absolute;
    width: 100%;
    bottom: 0;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: white;
}

.innova{
    font-size: 2rem;
    color: white;
    font-size: 700rem;
} 

.txt-loader {
    font-size: 2.5rem;
    color: var(--btn);
z-index: 9999999;
/* width: 20rem; */
margin: 1rem auto;
overflow: hidden;
}

.txt-loader h2{
    margin: 0;
}

.txt-loader h2{
    text-align: right;
}

.txt-loader .b{
    font-size: 1.6rem;
}

.loader{
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    width: 100%;
    margin: auto auto;
justify-content: center;
align-items: center;
z-index: 9999999;
/* background: rgb(15,25,60);
background: radial-gradient(circle, rgba(15,25,60,1) 0%, rgba(6,12,33,1) 100%); */
background-color: black;
}


.pre-loader{
    display: flex;
    transition: ease-in-out 0.5s all;
    
}

.pre-loader span{
    height: 0.5rem;
    width: 0.5rem;
    margin: 0.2rem;
    background-color: var(--btn);
    display: block; 
    left: 0;
    top: 0;
    border-radius: 50rem;
    animation: preloader ease-in-out infinite 2s;
}

.pre-loader span:nth-child(1){
    left: -4.5rem;
    animation-delay:0s ;
}

.pre-loader span:nth-child(2){
    left: -1.5rem;
    animation-delay:0.1s ;
}

.pre-loader span:nth-child(3){
    left: 1.5rem;
    animation-delay:0.2s ;
}

.pre-loader span:nth-child(4){
    left: 4.5rem;
    animation-delay:0.3s ;
}



@keyframes preloader{
    0%,
    75%,  
    100%{
        transform:translateY(0) scale(1);
    }

    25%{
        transform:translateY(2.5rem);
    }

    50%{
        transform:translateY(-2.5rem) scale(1.1)
    }

}

@media screen and (min-width: 315px) {

    .img{
        /* background-image: url(../img/Innova.svg);
        background-position: center center;
        background-size: cover;
        height: 40rem;
        position: relative; */
        background-color: white;
    }
    
    /* .img img{
        width: 100%;
        height: 30rem;
        object-fit: cover;
    } */

    .container{
        max-width: 85%;
    }

    .flexslider{
        width: 100%;
        position:relative;
        height: 100%;
    }
    
    .slides{
        overflow: hidden;
        height: 90vh;
        object-fit: cover;
    }
    
    .slides img{
        width: 100%;
        height: 100vh;
        object-fit: cover;
        filter: brightness(30%);
    }
    
    .slides,
    .flex-control-nav,
    .flex-direction-nav {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    
    .flex-control-nav{
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 5%;
        right: 33%;
        z-index: 22;

    }
    
    .flex-control-nav li{
        display: inline-block;
        margin: 0 6px;

    }
    
    .flex-control-nav li a{
        display: block;
        border: solid 1px white;
        width: 12px;
        height: 12px;
        border-radius: 12px;
        text-indent: -9999px;
    }
    
    .flex-control-nav li a:hover{
        background: #ffffff;
    }
    
    .flex-control-nav li a.flex-active{
        background: #ffffff;	
    }
    
    .flex-direction-nav a{
        display: block;
        text-decoration: none;
        position: absolute;
        top: 50%;
        z-index: 2;
        width: 40px;
        height: 40px;
        overflow: hidden;
        opacity: 0;
        -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
    
    .flex-direction-nav .flex-prev{
        left: 0;
    }
    
    .flex-direction-nav .flex-next{
        right: 0;
    }
    
    .flex-direction-nav a:before {
      font-family: "flexslider-icon";
      font-size: 3rem;
      display: inline-block;
      content: '\f001';
      color: #fff;
      text-shadow: 1px 1px 0 rgb(255, 255, 255);
    }
    .flex-direction-nav a.flex-next:before {
      content: '\f002';
    }
    

    .flex-caption .p{
        position: absolute;
        top: 32%;
        width: 100%;
        font-size: 6rem;
        color: #fff;
        font-weight: bold;
        color: white;
    }

    .flex-caption .descripcion{
        position: absolute;
        top: 54%;
        width: 90%;
        font-size: 2rem;
        color: #fff;
        font-weight: bold;
        color: white;
        font-weight: 200;
    }

    .flex-caption .boton{
        position: absolute;
        width: 83%;
        text-align: end;
        font-size: 2rem;
        color: #fff;
        font-weight: bold;
        color: white;
        font-weight: 200;
        z-index: 1;
        animation: btn_header infinite 3s ease-in-out;
        position: absolute;
        top:77%;
        z-index: 22;
    }

    .boton a{
        background-color: var(--btn);
        padding: 1.6rem 2.9rem;
        border-radius: 1.5rem;
        box-shadow: 0px 0px 15px 0px var(--btn);
        font-size: 1.6rem;
        transition: ease-in-out 0.2s all;
        
    }

    .boton a:hover{

        color: var(--btn);
        font-weight: 500;
        background-color: #fa807200;
        border: solid 1px var(--btn);
        box-shadow: 0px 0px 0px 0px var(--color__bk);


    }

    @keyframes btn_header{

        0%{
            transform: translateY(0.2rem);
        }

        25%{
            transform: translateY(-0.2rem);
        }

        100%{
            transform: translateY(0.2rem);
        }
    }
    
    .navegador{
        /* background: #ffffff; */
        position: fixed;
        top: 0;
        z-index: 9;
        width: 100%;
        color: white;
        transition: all 0.3s ease-in-out;
        height: 7rem;
    }

    .nav_mod{
        background-color: #ffffff;
        height: 7rem;
        color: var(--text);
        z-index: 100000;
    }

    .navegador .nav_mod .barra_nav .fa-bars{
        color: var(--text);
    }

    .barra_nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* z-index: 10000000000; */
        width: 100%;
    }

    .barra_nav .enlaces{
        position: fixed;
        width:75%;
        height: 100vh;
        background-color: rgb(255, 255, 255);
        bottom: 0;
        left: -1000px;
        top: 0;
        transition: all 0.3s ease-in-out;
        z-index: 10000000000;
        /* box-shadow: 0px 0px 8px 0px #d9d8e4; */
    }

    .sombra{
        width: 100%;
        display: none;
        height: 100vh;
        background-color: #06080ebf;
        position: fixed;
        /* position: relative; */
        top: 0;
        z-index: 9;

    }

    .enlaces ul{
        display: block;
        /* justify-content: center;
        flex-direction: column; */
        padding-top: 12rem;
        height: 100vh;
        margin: 0;
    }

    .enlaces ul li{
        list-style: none;
        margin-bottom: 5rem;
    }

    .enlaces ul li:last-of-type{
        margin-bottom: 0rem;
    }

    .enlaces ul li a{
        font-size: 1.7rem;
        color: #060C21;
    }


    .logo-nombre .nombre{
        font-size: 2.5rem;
        /* margin-left: 22rem; */
    }

    .navegador .barra_nav .fa-bars{
        font-size: 2rem;
        font-weight: bold;
        z-index: 6;
        color: #ffffff;
    }

    .nav_mod .barra_nav .fa-bars{
        color: var(--text);
    }

    .flexslider:hover .flex-direction-nav .flex-prev{
        opacity: 0.7;
        left: 10px;
        text-align: center;
        opacity: 0;
    }
    
    .flexslider:hover .flex-direction-nav .flex-prev:hover{
        opacity: 1;
    }
    
    .flexslider:hover .flex-direction-nav .flex-next{
        opacity: 0.7;
        right: 10px;
        text-align: center;
        opacity: 0;
    }
    
    .flexslider:hover .flex-direction-nav .flex-next:hover{
        opacity: 1;
    }


    .logo-nav{
        color: var(--text);
        position: fixed;
        top: 0;
        margin-top: 1rem;
        margin-left: 4rem;
    }

    .redes-enlace-nav{
        position: absolute;
        bottom: 0;
        border-top: white 1px solid;
        margin-left: 3rem;
        margin-bottom: 5.5rem;
        display: flex;
        z-index: 9999;

    }

    .redes-enlace-nav a{
        background-color: var(--text);
        width: 4rem;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5rem;
        margin-right: 1rem;
        z-index: 999;

    }

    /*nosotros*/

    .nosotros{
        margin-top:5rem;
    }

    .titulo-cuerpo{
        font-size: 2.5rem;
        color: var(--text);
    }

    .texto-cuerpo{
        font-size: 1.8rem;
    }

    .btn-cuerpo{
       
        padding: 1.5rem;
    
        /* box-shadow: 0px 0px 5px 0px var(--btn); */
        /* width: 15rem; */
        text-align: center;
        

    }

    .btn-cuerpo a{
        font-weight: 100;
        background-color: var(--btn);
        padding: 1.5rem;
        border-radius: 1.5rem;
        border: 1px solid var(--btn);
        color: white;
       transition: ease-in-out 0.3s all;
        border-radius: 1.5rem;
        font-size: 1.6rem;
        width: 15rem;
    }

    .btn-cuerpo a:hover{
        background-color: transparent;
        border: 1.5px solid var(--btn);
        color: var(--btn);
        font-weight: 500;
        /* box-shadow: 0px 0px 15px 0px var(--btn); */
    }

    video{
        width: 100%;
        height: 20rem;
        object-fit: cover;
        filter: brightness(80%);
        margin: 6rem auto 0rem auto;
        /* border-radius: 50rem; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*integrantes*/

    .integrantes{
        margin-top: 3rem;
    }

    .integrante{
        height: 43rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 2.5rem auto;
        background-color: var(--btn);
        border-radius: 2rem;
        margin-top: 5rem;
    }

    .azul{
        background-color: var(--text);
    }

    .cont{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .texto-integrante{
        text-align: center;
        color: white;
    }

    .back{
        font-weight: 100;
    }

    .certificado{
        display: flex;
        justify-content: center;
    }

    .PC{
        font-weight: 500;
        margin: 0.5rem;
    }

    .integrante-img img{
        animation: integrante infinite 3s ease-in-out;
    }

    @keyframes integrante{

        0%{
            transform: translateY(1rem);
        }

        25%{
            transform: translateY(-1rem);
        }

        100%{
            transform: translateY(1rem);
        }
    }

    .btn-integrante{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .btn-integrante a{
        color: var(--btn);
        font-weight: 500;
    }

    .btn-integrante .blu{
        color: var(--text);
        font-weight: 600;
    }

    /*aspectos*/


    .aspectos{
        margin-top: 3rem;
    }

    .v-aspc{
        margin-top: 2rem;
    }

    /*c-c*/
    .img-c-c{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: cc infinite ease-in-out 3s;
    }

    .img-c-c img{
        width: 80%;
    }

    @keyframes cc{

        0%{
            transform: translateY(0.5rem);
        }

        25%{
            transform: translateY(-0.5rem);
        }

        100%{
            transform: translateY(0.5rem);
        }
    }


    /*footer*/

    footer {
        background-color: var(--text);
        padding-top: 3rem;
        margin-top: 3rem;
    }

    .name_info {
        color: white;
        font-weight: 700;
        font-size: 2.2rem;
    }

    .info nav {
        display: flex;
        flex-direction: column;
    }

    .info nav a {
        font-weight: 100;
    }

    .info .name_redes {
        font-weight: 100;
        color: white;
    }

    .info .nosotros_footer {
        color: white;
        font-weight: 100;
    }

    .info_redes .red_social {
        height: 4.5rem;
        width: 4.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #2f3343;
        border-radius: 50rem;
        margin-right: 1rem;
    }

    .info_redes {
        display: flex;
        justify-content: start;
        align-items: center;
        border-top: 1px solid #969696;
        padding-top: 2rem;
    }

    .info .derechos {
        color: white;
        font-weight: 100;
    }

    

    .logo-footer .nombre{
       margin: 0;
        color: white;
    }

    .logo-footer p{
        font-weight: 100;
        font-size: 1.6rem;
        color: white;
        margin-bottom: 4rem;
    }

    input{
        width: 100%;
        padding:1.5rem 1rem;
        border-radius: 1rem;
        border: 1px solid #c1c1c1;
        color: #ec1414;
        margin-bottom: 1rem;
        font-weight: 300;
        outline: none;
    }

    ::placeholder{
        color: #c1c1c1;
    }

    textarea{
        width: 100%;
        border-radius: 1rem;
        resize: none;
        padding:1.5rem 1rem;
        border: 1px solid #c1c1c1;
        outline: none;
        font-weight: 300;
margin-bottom: 1rem;
    }

    ::placeholder{
        color: #c1c1c1;
    }

    .enviar{
        padding: 2rem 2rem;
        color: white;
        background-color: var(--btn);
        border: none;
        outline: none;
        border-radius: 1rem;
        width: 100%;
        
    }

    .int{
        color: var(--text);
        text-align: left;
        margin-bottom:11rem;
    }
}

@media screen and (min-width: 580px){
     .cont-integrantes{
         display: grid;
         grid-template-columns: repeat(2, 50%);
         justify-content: center;
     }

     .integrante{
         margin-top: 0;
         width: 95%;
     }

     .certificado{
         justify-content: center;
     }

     .PC{
         margin: 0.5rem;
     }

     video{
         height: 30rem;
     }

     .img{
        height: 40rem;
    }

    .int{
        color: var(--text);
        text-align: center;
        margin-bottom:11rem;
    }
} 

@media screen and (min-width: 700px){
    .flex-caption .p{
        font-size: 9rem;
        top: 19%;
    }

    .flex-caption .descripcion{
        font-size: 2.5rem;
        top: 50%;
    }

    .int{
        color: var(--text);
        text-align: left;
        margin-bottom:11rem;
    }
}

@media screen and (min-width: 800px){

    
    video{
        height: 40rem;
    }

    .navegador .fa-bars{
        /* display: none; */
        opacity: 0;
        pointer-events: none;
    }
    

    .barra_nav .enlaces{
       height: 5rem;
       /* left: 0px; */
       width: 100%;
       background-color: rgba(255, 255, 255, 0);
       z-index: 999999;
       position: initial;
    }

    .barra_nav .enlaces ul {
        padding: 3rem 0rem;
        height: 4rem;
        display: flex;
        align-items: center;
        top: 0;
    }

    .barra_nav .enlaces ul li a{
        color: #ffffff;
        font-weight: 100;
    }

    .barra_nav .enlaces ul li{
        margin-bottom: 1rem;
        margin-right: 3rem;
    }


    .redes-enlace-nav{
        opacity: 0;
        pointer-events: none;
    }

    .logo-nav{
        display: none;
    }

    .nav_mod .barra_nav .enlaces ul li a{
        color: var(--text);
    }

    .int{
        color: var(--text);
        text-align: left;
        margin-bottom:11rem;
    }
}

@media screen and (min-width: 1200px){

    .int{
        color: var(--text);
        text-align: center;
        margin-bottom:11rem;
    }

    .int-redes{
        justify-content: center;
        display: flex;
        align-items: center;
        width: 100%;
    }

    .m-v{
        display: grid;
        grid-template-columns: repeat(2, 40%);
        justify-content: space-evenly;
        align-items: center;
    }

    

    .m-v .texto-cuerpo{
        width: 100%;
    }

    .img{
        width: 100%;
        height: 100%;
    }
    
    .img{
        /* background-image: url(../img/b2.svg);
        background-position:center;
        background-size: cover;
        height: 75rem; */
        background-color: white;
    }

    .tecnologias{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        /* grid-template-rows: max-content; */
        flex-direction: column-reverse;
    }

    .slides{
        height: 100vh;
    }

    .flex-caption .boton{
        
        bottom: 10%;
        
    }

    .flex-caption .p{
        top: 14%;
        text-align: center;
        width: 100%;
        left: 0;
        right: 0;
        font-size: 14rem;
    }

    .titulo-cuerpo{
        font-size: 3rem;
    }

    .texto-cuerpo{
        font-size: 1.8rem;
        width: 50%;
        margin: 0 auto 4rem auto;
    }

    .flex-caption .descripcion{
        left: 0;
        text-align: center;
        width: 100%;
        right: 0;   
    }

    .flex-caption .boton{
       display: flex;
       justify-content: center;
       align-items: center;
       right: 0;
       left: 0;
       width: 100%;
       top: 40%;

    }

    .flex-control-nav{
        right: 0%;
    }

    .titulo-cuerpo{
        text-align: center;
    }

    .texto-cuerpo{
        text-align: center;
    }

    .btn-cuerpo{
        margin:auto auto;
    }

    .container{
        max-width: 1100px;
    }

    .cont-integrantes{
        grid-template-columns: repeat(4, 25%);
    }

    .aspecto{
        text-align: center;
        
    }

    .boton{
        top: 44rem;
        right: 50%;
    }

    .cont-contact-computer {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        align-items: center;
        padding: 3rem 0;

    }

    .img-c-c img{
        width: 100%;

    }

    .info_redes{
        border-top:none;
    }

    .inf-f-r{
        margin-bottom: 6rem;
        display: grid;
        grid-template-columns: repeat(3, 33.3%);
    }

    .r-d{
        display: flex;
        justify-content: space-between;
        border-top: 1px var(--color__bk) solid;
        padding-bottom: 4rem;
    }

    .aspecto h2{
        margin: 4rem 0;
    }

    .form{
        width: 60%;
        margin: auto auto;
    }

    
}

/* .bk{
    background-image: url(../img/bk3.svg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    
} */

.barra_nav .enlaces ul li .enlace-actual{
    font-weight: 500;
    color: var(--btn);
}


